/* --------------------------- */
/*      Custom Properties      */
/* --------------------------- */

:root {

  /* Display Widths */

  --width-mobile: 375px;
  --width-desktop: 1440px;

  /* Colors */

  --clr-dark-cyan: 158 36% 37%;
  --clr-cream: 30 38% 92%;

  --clr-very-dark-blue: 212 21% 14%;
  --clr-dark-grayish-blue: 228 12% 48%;
  --clr-white: 0 0% 100%;

  /* Typography */

  --fs-paragraph: 14px;

  --ff-serif: 'Fraunces';
  --ff-sans-serif: 'Montserrat';

}


/* ------------------------- */
/*      Utility Classes      */
/* ------------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.uppercase {
  text-transform: uppercase;
}


/* -------------------- */
/*      Components      */
/* -------------------- */

.product-name {}

.btn-add-to-cart {}

.price {}

.price-slashed {}