/* --------------------------- */
/*      Custom Properties      */
/* --------------------------- */

:root {

  /* Display Widths */

  --width-mobile: 375px;
  --width-desktop: 1440px;

  /* Colors */

  --clr-dark-cyan: 158 36% 37%;
  --clr-cream: 30 38% 92%;

  --clr-very-dark-blue: 212 21% 14%;
  --clr-dark-grayish-blue: 228 12% 48%;
  --clr-white: 0 0% 100%;

  /* Typography */

  --fs-paragraph: 14px;

  --ff-serif: 'Fraunces';
  --ff-sans-serif: 'Montserrat';

}